# Python cache files
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# Configuration files (don't sync your production config.yaml with API key in it)
config.yaml

# macOS system files
.DS_Store

# Git files
.gitattributes

# venv (in case you build your project inside your local git repo)
venv/
